@import "../../components/accordion/accordion";
.saloons {
  @include padding-container-y;
  padding-top: 0;
  .title-section {
    @include padding-container-y;
    @include padding-container-x;
  }
  &-row {
    @media (min-width: 768px) and (max-width: 1400px), (min-width: 1400px) {
      margin-right: -1rem;
      margin-left: -1rem;
    }
    @media (max-width: 1400px) {
      margin: 0;
    }
  }
  .saloon {
    margin-bottom: 1rem;
    @media (min-width: 992px) {
      width: 100%;
    }
    @media (min-width: 1400px) {
      width: 33.33%;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      width: 50%;
    }
    width: 100%;
    @media (min-width: 768px) and (max-width: 1400px), (min-width: 1400px) {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  &-title {
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  &-bg {
    height: 300px;
  }
  &-links {
    background-color: #fff;
    padding: 1.5rem;
    & > div {
      display: flex;
      a {
        padding-left: 0.5rem;
        display: block;
      }
      &:first-child {
        margin-bottom: 1rem;
        a {
          padding-left: 0;
        }
      }
    }

    & > div,
    a {
      color: #014288;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}
