.ambassadors {
  @include padding-container-x;
  @include padding-container-y;
  &-title-section-descriptions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    .title-section-description {
      width: 45%;
      margin-bottom: 4rem;
      @media (max-width: 768px), (min-width: 992px) and (max-width: 1200px) {
        width: 100%;
      }
    }
  }
  @import "ambassadors-carousel";
}
