.all-blogs {
  @include padding-container-x;
  @include padding-container-y;
  padding-bottom: 0;
  &-categories {
    display: flex;
    flex-wrap: wrap;
  }
  &-category {
    padding-right: 2rem;
    font-weight: 700;
    a {
      transition: color 0.2s;
      font-size: 0.9rem;
    }
    &:first-child {
      padding-right: 4rem;
    }
    &.active,
    &:hover {
      a {
        color: $first;
      }
    }
  }
  &-row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
  }
  &-blog {
    width: 50%;
    margin-bottom: 6rem;
    @media (max-width: 1300px) {
      width: 100%;
    }
    @media (min-width: 1300px) {
      &:nth-child(2n - 1) {
        padding-right: 3rem;
      }
      &:nth-child(2n) {
        padding-left: 3rem;
      }
    }
  }
  &-photo {
    height: 500px;
    margin-bottom: 2rem;
  }
  &-subtitle {
    color: $first;
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
  }
  &-title {
    font-weight: 700;
    font-size: 2.3rem;
    margin-bottom: 1.3rem;
  }
}
