@mixin h-100 {
  .h-100 {
    height: 100% !important;
  }
}
@mixin h-lg-50 {
  .h-lg-50 {
    @media (min-width: 992px) {
      height: 50% !important;
    }
  }
}
@mixin h-xl-50 {
  .h-xl-50 {
    @media (min-width: 1200px) {
      height: 50% !important;
    }
  }
}
