@mixin margin-container-x($offset: 0) {
  $content-margin: 6rem - $offset;
  $content-margin-s: 3rem;
  $content-margin-xs: 1rem;
  margin-left: $content-margin;
  margin-right: $content-margin;
  @media (max-width: 992px) {
    margin-left: $content-margin-s;
    margin-right: $content-margin-s;
  }
  @media (max-width: 576px) {
    margin-left: $content-margin-xs;
    margin-right: $content-margin-xs;
  }
}

@mixin margin-container-y {
  $content-margin: 6rem;
  $content-margin-s: 3rem;
  margin-top: $content-margin;
  margin-bottom: $content-margin;
  @media (max-width: 992px) {
    margin-top: $content-margin-s;
    margin-bottom: $content-margin-s;
  }
}
